.boxIcone {
  display: flex;
  justify-content: flex-end;
  width: auto;
  padding: 4px;
  margin-left: 1rem;
  /* padding: 10px; */
  /* background-color: red; */
}
.iconet {
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.iconExit {
  width: 30px;
  height: 30px;
}
