.boxIcone{
    display: flex;
    justify-content: end;
    width: auto;
    padding: 4px;
    margin-left: 1rem;
}
.iconet{
    width: 25px;
    height: 25px;
    color: #ffffff;
}
.iconExit{
    width: 30px;
    height: 30px;
}
/* .ModalInfo{
    width: 80%;
} */