@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@500&family=Skranji&display=swap');

.bodyclock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 420px;
    /* margin-top: 5rem; */
    /* background-color: azure; */
    /* float: left; */
    /* z-index: 2; */
}
.bodyclock1{
    font-family: 'Skranji', cursive;
    /* background-color: white; */
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    /* margin: 3rem; */
}
.bodyclock1 h2{
    font-weight: 400;
    font-size: 70px;
}
.bodyclock2{
    font-family: 'Orbitron', sans-serif;
    /* background-color: green; */
    /* width: 100%; */
    /* height: 5rem; */
    display: flex;
    justify-content: center;
    font-size: 80px;
    
}
@media (max-width: 380px){
    .bodyclock{
        position: absolute;
        /* z-index: -1; */
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
        height: 6rem;
    }
    .bodyclock1{
        padding: 1rem;
    }
    .bodyclock h2{
        font-size: 40px !important;
    }
    .bodyclock2{
        font-size: 25px !important;
        margin-top: -3rem;
    }
}
@media (max-width: 640px){
    .bodyclock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyclock1 h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 50px;
    }
    .bodyclock2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        width: 100%;
    }
}

