.parentMob{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 6rem; */
}
.bodyMob{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* margin-bottom: 1rem; */
    /* border-radius: 5px; */
    height: 3rem;
    background-color: #0a4168;
    z-index: 2;
    
}
.GenNot,
.Cale,
.NoteMvp,
.Gpchat,
.Propf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.wid{
    width: 26px;
    height: 26px;
    color: white;
}
.wide{
    width: 40px;
    height: 40px;
    color: white;
}
.NoteMvp{
    /* border: 1px solid none; */
    background-color: #0f5486;
    width: 5rem;
    height: 5rem;
    z-index: 3;
    margin-top: -2rem;
    border-radius: 50px;
}

@media (max-width: 380px){
    .bodyMob{
        position: fixed;
        bottom: 0;
    }
} 